/* share buttons */
.sns_section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sns_button {
    float: left;
    box-shadow: inset 0 0 0 2px;
    border-radius: 100%;
    color: var(--color-border-primary);
    -moz-transition: all 280ms ease;
    -o-transition: all 280ms ease;
    -webkit-transition: all 280ms ease;
    transition: all 280ms ease;
}
.sns_button a {
    display: table-cell;
    width: 60px;
    height: 60px;
    color: #42464c;
    text-align: center;
    vertical-align: middle;
    -moz-transition: all 280ms ease;
    -o-transition: all 280ms ease;
    -webkit-transition: all 280ms ease;
    transition: all 280ms ease;
}
.sns_button i {
    font-size: 28px;
    vertical-align: middle;
}
.sns_button:hover {
    box-shadow: inset 0 0 0 60px #eaeaea;
}

.sns_button + .sns_button {
    margin: 0 0 0 20px;
}

.twitter a {
    color: #1B95E0;
}

.facebook a {
    color: #3B5999;
}

.pocket a {
    color: #EE4056;
}

.hatena a {
    color: #4BA3D9;
}

.fa-hatena:before {
    content: "B!";
    font-family: Verdana;
    font-weight: bold
}

/*
.twitter:hover a {
    color: #1B95E0;
}

.facebook:hover a {
    color: #3B5999;
}

.pocket:hover a {
    color: #EE4056;
}

.hatena:hover a {
    color: #4BA3D9;
}

.fa-hatena:before {
    content: "B!";
    font-family: Verdana;
    font-weight: bold
}
*/